extends base
block catalogo

  head 
    title Catalogo
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    
  body(ng-controller="MostrarLibrosController")
    .container
      .jumbotron.text-center(ng-prueba='')
          h3
            |{{ libros.length }} libros
          div(ng-if="libros && libros.length > 0" ng-cloak)
              table.table-responsive
                  thead.cabecera-tabla
                      tr: th Libro
                          th Título
                          th Precio
                          th Up
                          th Down
                          th Opciones
                  tbody
                      tr(ng-repeat="libro in libros")
                          td(ng-if="libro.thumbnail"): img(ng-src="{{libro.thumbnail}}", class="tapa-libro")
                          td(ng-if="!libro.thumbnail && libro.imageLinks"): img(ng-src="libro.imageLinks.thumbnail", class="tapa-libro")
                          td(ng-if="!libro.thumbnail && !libro.imageLinks"): img(ng-src='https://s-media-cache-ak0.pinimg.com/236x/19/c8/9c/19c89cc89aa94417f322670a746d316a.jpg', class="tapa-libro")
                          td.item-info-xs 
                              p {{libro.gbook.title}}
                              p(ng-if="!libro.gbook.title").
                                  No hay información disponible
                          td.item-info-xs    
                              p {{libro.precio}}
                              p(ng-if="!libro.precio").
                                   No hay información disponible
                          td.item-info-xs    
                              p {{libro.ranking_up}}
                          td.item-info-xs    
                              p {{libro.ranking_down}}     
                          td.item-info-xs
                            button.btn.glyphicon.glyphicon-remove(type='button',ng-click="delete(libro._id)")