extends base

block carousel
  #carousel
        #owl-demo.owl-carousel.owl-theme
          .item
            img(src='../img/5.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Cuanto más se lee, menos se imita.
                .s-12.l-9
                  p Jules Renard.
          .item
            img(src='../img/6.jpeg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2 La pluma es la lengua del alma.
                .s-12.l-9
                  p Cervantes.
          .item
            img(src='../img/7.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Leer sin reflexionar es igual que comer sin digerir.
                .s-12.l-9
                  p Burke.
          .item
            img(src='../img/8.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Uno llega a ser grande por lo que lee y no por lo que escribe. 
                .s-12.l-9
                  p Borges.
          .item
            img(src='../img/1.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Los libros son amigos que nunca decepcionan.
                .s-12.l-9
                  p Thomas Carlyle.
          .item
            img(src='../img/10.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Borra muchas veces si quieres escribir cosas dignas de ser leídas. 
                .s-12.l-9
                  p Horacio.