extends base

block carousel
  #carousel
        #owl-demo.owl-carousel.owl-theme
          .item
            img(src='../img/5.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Cuanto m치s se lee, menos se imita.
                .s-12.l-9
                  p Jules Renard.
          .item
            img(src='../img/6.jpeg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2 La pluma es la lengua del alma.
                .s-12.l-9
                  p Cervantes.
          .item
            img(src='../img/7.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Leer sin reflexionar es igual que comer sin digerir.
                .s-12.l-9
                  p Burke.
          .item
            img(src='../img/8.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Uno llega a ser grande por lo que lee y no por lo que escribe. 
                .s-12.l-9
                  p Borges.
          .item
            img(src='../img/1.jpg', alt='')
            .carousel-text
              .line
                .s-12.l-9
                  h2  Los libros son amigos que nunca decepcionan.
                .s-12.l-9
                  p Thomas Carlyle.
        br
        br
        br
        #second-block   
          .line
            .margin-bottom
              .margin
                .s-12.m-6.l-3
                  img(src='../img/3.png', alt='alternative text')
                  p.subtitile
                    | Un libro es un regalo estupendo, porque muchas personas s칩lo leen para no tener que pensar. 
                    strong Maurois
                .s-12.m-6.l-3
                  img(src='../img/2.jpg', alt='alternative text')
                  p.subtitile
                    | No hay libro tan malo del que no se pueda aprender algo bueno. 
                    strong Plinio el Joven
                .s-12.m-6.l-3
                  img(src='../img/estanteria.jpg', alt='alternative text')
                  p.subtitile
                    | Los libros son como los amigos, no siempre es el mejor el que m치s nos gusta. 
                    strong Jacinto Benavente
                .s-12.m-6.l-3
                  img(src='../img/4.jpg', alt='alternative text')
                  p.subtitile
                    | El solo ingenio no puede formar un escritor. Debe haber un hombre detr치s del libro.
                    strong Emerson
              