extends base

block content
    input(type="hidden", value=search_term, id="hidden_search_term")
    div(ng-controller="SearchBookController")
        div(class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4")
            .container-fluid
                div(data-alerts="alerts")
                img(src='../img/logo.png', alt='')
                form(id="search-form", ng-submit="sendForm()")
                    br
                    .form-group.text-center
                        label(for="search_term") #[h4 Hace tu busqueda acá]
                        br
                        input(id='search_term', name='search_term', type='text', 
                                placeholder='Ej.: El principito', ng-model="form.search_term", class="form-control custom-input", required="", value="")
            div(ng-show="buscando" ng-cloak)
                .rectangulo
                    br
                    h4 Por favor, espera unos segundos...
                    br
        include results.pug
